.container__backgroundMusic {
  background-image: url("../../../assets/wallpaper.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
