@use "../../scss/abstract/variables" as *;

.container__progress {
  --progress: 0;

  display: flex;
  align-items: center;
  position: relative;

  > button {
    order: 3;
  }

  &::after,
  &::before {
    content: "";
    width: 10px;
    height: 100%;
    border-radius: 3px 0px 0px 3px;
  }

  &::after {
    background-color: $color-black-title;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
  }

  &::before {
    position: absolute;
    background: linear-gradient($color-blue, $color-green);
    max-height: var(--progress);
    align-self: flex-start;
    transition: max-height 1s;
  }
}
