@use "../../scss/abstract/variables" as *;

.container__header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  height: 55px;

  h1 {
    font-size: 0.8rem;
    font-weight: 600;
    font-style: $font-title;

    color: $color-gray-white;
  }

  div > h3 {
    display: none;

    color: $color-gray-white;
  }

  div > div {
    cursor: pointer;

    background-color: $color-purple;
    width: 26px;
    height: 26px;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    border: 2px solid $color-green;
  }

  div > span {
    font-style: $font-title;
    color: $color-gray-white;
    font-size: 1rem;
  }

  div > ul {
    position: absolute;
    right: 8px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin-top: 0.5rem;

    font-size: 1rem;
  }

  div > ul > li > button {
    width: 3rem;
    height: 1.5rem;
    border: none;
    border-radius: 4px;

    background: linear-gradient($color-blue, $color-green);
    color: $color-gray-white;
  }
}

.container__menuNavMobile {
  width: 36px;

  position: relative;
  top: 56px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background: linear-gradient($color-purple, $color-player-purple);

    width: 6rem;

    padding: 1rem;

    border-radius: 7px;
  }

  li {
    color: $color-gray-white;
    font-family: $font-text;
  }
}

.container__menuNavDesktop {
  display: none;

  ul > li > a:hover {
    border-bottom: 2px solid $color-green;
  }
}

@media (min-width: 811px) {
  .container__header {
    background-color: $color-purple;

    padding: 0 3rem;

    height: 66px;

    h1 {
      font-size: 1rem;

      width: 200px;
    }

    div {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    div > h3 {
      display: flex;
    }

    div > div {
      width: 38px;
      height: 35px;
    }

    div > ul {
      right: 37px;
      top: 3.2rem;
    }

    div > ul > li {
      font-size: 0.8rem;
    }

    div > ul > li > button {
      width: 4rem;
      height: 2rem;
    }
  }

  .container__menuNavMobile {
    display: none;
  }

  .container__menuNavDesktop {
    display: flex;

    ul {
      display: flex;
      gap: 1rem;
      color: $color-gray-white;
      font-family: $font-text;
    }

    ul > li {
      font-size: 0.9rem;
    }
  }
}

@media (min-width: 1023px) {
  .container__header {
    padding: 0 8rem;

    h1 {
      font-size: 1.3rem;
      width: 260px;
    }
    div > ul {
      right: 117px;
    }
  }

  .container__menuNavDesktop {
    ul > li {
      font-size: 0.8rem;
    }
  }
}
