@use "../../scss/abstract/variables" as *;

.container__header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  height: 55px;

  h1 {
    font-size: 0.8rem;
    font-weight: 600;
    font-style: $font-title;

    color: $color-gray-white;
  }

  div > h3 {
    display: none;

    color: $color-gray-white;
  }

  div > div {
    cursor: pointer;

    background-color: $color-purple;
    width: 26px;
    height: 26px;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    border: 2px solid $color-green;
  }

  div > span {
    font-style: $font-title;
    color: $color-gray-white;
    font-size: 1rem;
  }

  div > ul {
    position: absolute;
    right: 8px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin-top: 0.5rem;

    font-size: 1rem;
  }

  div > ul > li > button {
    width: 3rem;
    height: 1.5rem;
    border: none;
    border-radius: 4px;

    background: linear-gradient($color-blue, $color-green);
    color: $color-gray-white;
  }
}

.container__menuNavMobile {
  width: 36px;

  position: relative;
  top: 56px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background: linear-gradient($color-purple, $color-blue, $color-purple);

    box-shadow: 5px 1px 7px 1px $color-gray-white;

    width: 6rem;

    padding: 1rem;

    border-radius: 7px;
  }

  li {
    color: $color-gray-white;
    font-family: $font-text;
  }
}
