@use "../scss/abstract/variables" as *;

.container__seassonMain > section > img {
  display: none;
}

.container__errorStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;

  h1 {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    font-family: $font-title;
  }

  button {
    margin-top: 1rem;

    font-weight: 600;
    font-family: $font-title;

    height: 3rem;
    width: 12rem;

    background-color: $color-black;
    color: $color-gray-white;
  }
}

@media (min-width: 1023px) {
  .container__seassonMain > section {
    display: flex;
  }

  .container__seassonMain > section > img {
    display: flex;
    height: 100vh;
    min-width: 65%;
  }
}
