@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");

$color-purple: #14061f;
$color-dark-gray: #c0c0c0;
$color-gray-white: #f1f0f0;
$color-black: #000000;
$color-black-title: #414141;
$color-blue: #2962ff;
$color-green: #0bb07b;
$color-yellow: #ffce52;
$color-red: #f03d3d;
$color-gray: #e0e0e0;
$font-title: "Cinzel", sans-serif;
$font-text: "Open Sans", sans-serif;
$font-riot: "Lexend Deca", sans-serif;
