@use "../../../../scss/abstract/variables" as *;

.container__uploadMusicDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  height: 84vh;

  div > h1 {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: $font-riot;
    text-align: center;

    color: $color-gray-white;

    margin-top: 1rem;
  }

  div {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
  }

  div > label > div {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    padding: 1.4rem;
    border: 1px dashed $color-gray-white;

    svg {
      font-size: 1.7rem;
      color: $color-green;
    }

    p {
      font-size: 1rem;
      font-weight: 600;
      font-family: $font-riot;

      color: $color-gray-white;
    }

    button {
      height: 2rem;
      font-family: $font-riot;
      font-size: 1rem;
      font-weight: 700;

      border: none;
      border-radius: 4px;

      color: $color-gray-white;
      background-color: $color-green;
    }
  }

  div > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 0;

    label {
      color: $color-gray-white;
    }

    input {
      width: 100%;
      height: 1.8rem;

      border-radius: 4px;
      border: none;

      color: $color-gray-white;
      background-color: $color-player-purple;
    }

    input::placeholder {
      padding: 0 0.5rem;
      color: $color-gray-white;
    }

    button {
      margin-top: 1rem;

      height: 2rem;
      width: 101%;

      font-size: 1rem;
      font-weight: 600;

      border-radius: 4px;
      border: none;

      background-color: $color-player-purple;
      color: $color-gray-white;
    }
  }
}

@media (min-width: 811px) {
  .container__uploadMusicDiv {
    height: 86vh;
  }
}

@media (min-width: 1023px) {
  .container__uploadMusicDiv {
    div > label > div {
      padding: 4.4rem;
    }
    div > div {
      input {
        height: 2.5rem;
      }

      button {
        height: 3rem;
      }
    }
  }
}
