.container__registerMain > section > img {
  display: none;
}

@media (min-width: 1023px) {
  .container__registerMain > section {
    display: flex;
  }

  .container__registerMain > section > img {
    display: flex;
    height: 100vh;
    min-width: 65%;
  }
}
